.homeContainer {
  margin-top: 50px;
}

.main-candidate-containers {
  height: 500px;
  width: 80%;
  overflow-y: scroll;
  margin: 0px auto;
  min-width: 900px;
}

.title-container {
  width: 80%;
  margin: 0 auto;
  min-width: 900px;
  overflow-y: scroll;
}